<div class="footer-container">
  <div class="footer-footer">
    <img
      src="/assets/external/footerbackground2524-tnfd-700h.png"
      alt="footerbackground2524"
      class="footer-footerbackground"
    />
    <div class="footer-footerbottom">
      <span class="footer-text"><span>©Aleskia Zanin</span></span>
      <img
        src="/assets/external/iconinstagram2524-m4ik.svg"
        alt="iconinstagram2524"
        class="footer-iconinstagram"
      />
      <img
        src="/assets/external/footerseparator2525-ylyk-200h.png"
        alt="footerseparator2525"
        class="footer-footerseparator"
      />
    </div>
    <div class="footer-footercol4">
      <img
        src="/assets/external/footercol4webmap2525-yb8a-300h.png"
        alt="footercol4webmap2525"
        class="footer-footercol4webmap"
      />
      <div class="footer-footercol4text2">
        <img
          src="/assets/external/phoneicon2525-vlib.svg"
          alt="phoneicon2525"
          class="footer-phoneicon"
        />
        <span class="footer-text02"><span>06 68 59 14 39</span></span>
      </div>
      <div class="footer-footercol4text1">
        <span class="footer-text04">
          <span>sisowath.laurence&#64;orange.fr</span>
        </span>
        <img
          src="/assets/external/mailicon2525-315h.svg"
          alt="mailicon2525"
          class="footer-mailicon"
        />
      </div>
    </div>
    <div class="footer-footercol3">
      <span class="footer-text06"><span>Actualités</span></span>
      <span class="footer-text08"><span>Contact</span></span>
      <span class="footer-text10"><span>A propos</span></span>
    </div>
    <div class="footer-footercol2">
      <span class="footer-text12"><span>Tableaux</span></span>
      <span class="footer-text14"><span>Portfolio</span></span>
      <span class="footer-text16"><span>Nos services</span></span>
    </div>
    <div class="footer-footercol1">
      <span class="footer-text18"><span>Mentions légales</span></span>
      <span class="footer-text20"><span>RGPD</span></span>
      <span class="footer-text22"><span>Cookies</span></span>
    </div>
    <img
      src="/assets/external/footerimage2527-wr7e-200h.png"
      alt="footerimage2527"
      class="footer-footerimage"
    />
  </div>
</div>
