<div class="banner-container">
  <div class="banner-banner">
    <img
      src="/assets/external/iconbannerbackground2528-4hna-300h.png"
      alt="iconbannerbackground2528"
      class="banner-iconbannerbackground"
    />
    <div class="banner-iconbanner3">
      <img
        src="/assets/external/iconbanner3icon2528-qxg6.svg"
        alt="iconbanner3icon2528"
        class="banner-iconbanner3icon"
      />
      <span class="banner-text"><span>06 68 59 14 39</span></span>
    </div>
    <div class="banner-iconbanner2">
      <img
        src="/assets/external/iconbanner2icon2529-nkxj.svg"
        alt="iconbanner2icon2529"
        class="banner-iconbanner2icon"
      />
      <span class="banner-text2"><span>sisowath.laurence&#64;orange.fr</span></span>
    </div>
    <div class="banner-iconbanner1">
      <img
        src="/assets/external/iconbanner1icon2529-cx9b.svg"
        alt="iconbanner1icon2529"
        class="banner-iconbanner1icon"
      />
      <span class="banner-text4">
        <span>
          1 bis Rue Gentil Bernard,
          <span [innerHTML]="rawp0sy"></span>
        </span>
        <br />
        <span>92260 Fontenay-aux-Roses</span>
      </span>
    </div>
  </div>
</div>
