<div class="frame-services-container">
  <div class="frame-services-frame-services">
    <img
      src="/assets/external/background6175-on5k-2000w.png"
      alt="background6175"
      class="frame-services-background"
    />
    <div class="frame-services-footer">
      <div class="frame-services-footerbottom">
        <span class="frame-services-text"><span>©Aleskia Zanin</span></span>
        <img
          src="/assets/external/iconinstagram4592-ke9t.svg"
          alt="iconinstagram4592"
          class="frame-services-iconinstagram"
        />
        <img
          src="/assets/external/footerseparator4593-7nwp-200h.png"
          alt="footerseparator4593"
          class="frame-services-footerseparator"
        />
      </div>
      <div class="frame-services-footercol3">
        <span class="frame-services-text002"><span>Actualités</span></span>
        <span class="frame-services-text004"><span>Contact</span></span>
        <span class="frame-services-text006"><span>A propos</span></span>
      </div>
      <div class="frame-services-footercol2">
        <span class="frame-services-text008"><span>Tableaux</span></span>
        <span class="frame-services-text010"><span>Portfolio</span></span>
        <span class="frame-services-text012"><span>Nos services</span></span>
      </div>
      <div class="frame-services-footercol1">
        <span class="frame-services-text014">
          <span>Mentions légales</span>
        </span>
        <span class="frame-services-text016"><span>RGPD</span></span>
        <span class="frame-services-text018"><span>Cookies</span></span>
      </div>
      <img
        src="/assets/external/footerimage4614-qpn-200h.png"
        alt="footerimage4614"
        class="frame-services-footerimage"
      />
      <div class="frame-services-footercol4">
        <img
          src="/assets/external/footercol4webmap1688-h8dg-300h.png"
          alt="footercol4webmap1688"
          class="frame-services-footercol4webmap"
        />
        <div class="frame-services-footercol4text2">
          <img
            src="/assets/external/phoneicon1690-x4y.svg"
            alt="phoneicon1690"
            class="frame-services-phoneicon"
          />
          <span class="frame-services-text020">
            <span>06 68 59 14 39</span>
          </span>
        </div>
        <div class="frame-services-footercol4text1">
          <span class="frame-services-text022">
            <span>sisowath.laurence&#64;orange.fr</span>
          </span>
          <img
            src="/assets/external/mailicon1694-10ul.svg"
            alt="mailicon1694"
            class="frame-services-mailicon"
          />
        </div>
      </div>
    </div>
    <div class="frame-services-section3">
      <img
        src="/assets/external/section3img3116-8p2m-600h.png"
        alt="section3img3116"
        class="frame-services-section3img"
      />
      <span class="frame-services-text024">
        <span class="frame-services-text025">L&apos;atelier de Laurence</span>
        <span class="frame-services-text026"> est votre spécialiste à </span>
        <span class="frame-services-text027">Fontenay-aux-Roses</span>
        <span class="frame-services-text028">
           et
          <span [innerHTML]="rawu2on"></span>
        </span>
        <br />
        <span class="frame-services-text030">à </span>
        <span class="frame-services-text031">Sceaux</span>
        <span class="frame-services-text032">
           pour la réalisation de tous types de 
        </span>
        <br />
        <span class="frame-services-text034"></span>
        <span class="frame-services-text035">
          travaux de peinture en rénovation d&apos;appartement et de maisons
        </span>
        <span class="frame-services-text036">
          .
          <span [innerHTML]="rawt9vp"></span>
        </span>
        <br />
        <span class="frame-services-text038">
          Ainsi que de peinture décoratrice décorative :
          <span [innerHTML]="raw7zkj"></span>
        </span>
        <br />
        <span class="frame-services-text040">
          Décoration, home staging, idées déco, peinture décorative, etc...
        </span>
        <br />
        <span class="frame-services-text042"></span>
        <br />
        <span class="frame-services-text044">
          Dès notre premier rendez-vous, nous analyserons ensemble vos 
        </span>
        <br />
        <span class="frame-services-text046"></span>
        <span class="frame-services-text047">besoins</span>
        <span class="frame-services-text048">
          ,
          <span [innerHTML]="raw3cp7"></span>
        </span>
        <span class="frame-services-text049">vos envies</span>
        <span class="frame-services-text050">, </span>
        <span class="frame-services-text051">couleurs</span>
        <span class="frame-services-text052">, </span>
        <span class="frame-services-text053">changement de meubles</span>
        <span class="frame-services-text054">, </span>
        <span class="frame-services-text055">
          home
          <span [innerHTML]="rawp56o"></span>
        </span>
        <br />
        <span class="frame-services-text057">staging</span>
        <span class="frame-services-text058">
          , ce que vous aimez. Que ce soit pour une rénovation, un 
        </span>
        <br />
        <span class="frame-services-text060"></span>
        <span class="frame-services-text061">changement radical</span>
        <span class="frame-services-text062"> ou une </span>
        <span class="frame-services-text063">remise à neuf</span>
        <span class="frame-services-text064">
          , je vous accompagne
          <span [innerHTML]="rawa199"></span>
        </span>
        <br />
        <span class="frame-services-text066">
          de la conception à la réalisation de votre projet.
        </span>
        <br />
        <span class="frame-services-text068"></span>
        <br />
        <span class="frame-services-text070">
          Il n&apos;y a pas de plus grande joie que de se sentir bien chez soi.
        </span>
        <br />
        <span class="frame-services-text072"></span>
        <br />
        <span class="frame-services-text074">
          Notre équipe apporte une touche d&apos;originalité à votre intérieur.
          <span [innerHTML]="raw8m7l"></span>
        </span>
        <br />
        <span class="frame-services-text076"></span>
        <br />
        <span class="frame-services-text078">
          Toutes nos réalisations sont
          <span [innerHTML]="raw0tuc"></span>
        </span>
        <span class="frame-services-text079">entièrement personnalisées</span>
        <span>
          .
          <span [innerHTML]="rawq4ca"></span>
        </span>
        <br />
        <span></span>
        <br />
        <span>
          Nous intervenons rapidement dans le sud et le sud-ouest de Paris.
        </span>
      </span>
      <span class="frame-services-text085">
        <span>
          Un travail d&apos;une qualité de haut niveau pour
          <span [innerHTML]="raw5t7u"></span>
        </span>
        <br />
        <span>embellir votre habitation</span>
      </span>
      <button class="frame-services-button">
        <span class="frame-services-text089">
          <span>Demander votre devis</span>
        </span>
        <img
          src="/assets/external/vector1667-1ynl.svg"
          alt="Vector1667"
          class="frame-services-vector"
        />
        <div class="frame-services-line">
          <div class="frame-services-group"></div>
        </div>
      </button>
    </div>
    <div class="frame-services-section2">
      <div class="frame-services-section2right">
        <span class="frame-services-text091">
          <span>
            Présentation de votre projet sur maquettes, planches de couleurs,
            recherches
            <span [innerHTML]="rawzpi6"></span>
          </span>
          <br />
          <span>
            de couleurs et mises en situation en adéquation avec vos attentes.
          </span>
          <br />
          <span></span>
          <br />
          <span>Harmonie des couleurs si plusieurs pièces.</span>
          <br />
          <span></span>
          <br />
          <span>
            Conseils en fonction de l&apos;exposition de vos pièces et de
            l&apos;ambiance recherchée.
          </span>
        </span>
        <img
          src="/assets/external/section2rightimg3159-67s.svg"
          alt="section2rightimg3159"
          class="frame-services-section2rightimg"
        />
        <span class="frame-services-text103">
          <span>Conception et innovation</span>
        </span>
      </div>
      <div class="frame-services-section2left">
        <span class="frame-services-text105">
          <span>
            Présentation de votre projet sur maquettes, planches de couleurs,
            <span [innerHTML]="rawyzy8"></span>
          </span>
          <br />
          <span>
            recherches de couleurs et mises en situation en adéquation avec vos
            attentes.
          </span>
          <br />
          <span></span>
          <br />
          <span>Harmonie des couleurs si plusieurs pièces.</span>
          <br />
          <span></span>
          <br />
          <span>
            Conseils en fonction de l&apos;exposition de vos pièces et de
            l&apos;ambiance recherchée.
          </span>
        </span>
        <img
          src="/assets/external/section2leftimg3122-dgce.svg"
          alt="section2leftimg3122"
          class="frame-services-section2leftimg"
        />
        <span class="frame-services-text117">
          <span>Recherches de couleurs</span>
        </span>
      </div>
    </div>
    <div class="frame-services-section1">
      <img
        src="/assets/external/section1img3192-3ube-600h.png"
        alt="section1img3192"
        class="frame-services-section1img"
      />
      <span class="frame-services-text119">
        <span class="frame-services-text120">L&apos;atelier de Laurence</span>
        <span class="frame-services-text121"> est votre spécialiste à </span>
        <span class="frame-services-text122">Fontenay-aux-Roses</span>
        <span class="frame-services-text123">
           et
          <span [innerHTML]="rawjmqz"></span>
        </span>
        <br />
        <span class="frame-services-text125">à </span>
        <span class="frame-services-text126">Sceaux</span>
        <span class="frame-services-text127">
           pour la réalisation de tous types de 
        </span>
        <br />
        <span class="frame-services-text129"></span>
        <span class="frame-services-text130">
          travaux de peinture en rénovation d&apos;appartement et de maisons
        </span>
        <span class="frame-services-text131">
          .
          <span [innerHTML]="rawaby9"></span>
        </span>
        <br />
        <span class="frame-services-text133">
          Ainsi que de peinture décoratrice décorative :
          <span [innerHTML]="rawasrl"></span>
        </span>
        <br />
        <span class="frame-services-text135">
          Décoration, home staging, idées déco, peinture décorative, etc...
        </span>
        <br />
        <span class="frame-services-text137"></span>
        <br />
        <span class="frame-services-text139">
          Dès notre premier rendez-vous, nous analyserons ensemble vos 
        </span>
        <br />
        <span class="frame-services-text141"></span>
        <span class="frame-services-text142">besoins</span>
        <span class="frame-services-text143">
          ,
          <span [innerHTML]="raws9tk"></span>
        </span>
        <span class="frame-services-text144">vos envies</span>
        <span class="frame-services-text145">, </span>
        <span class="frame-services-text146">couleurs</span>
        <span class="frame-services-text147">, </span>
        <span class="frame-services-text148">changement de meubles</span>
        <span class="frame-services-text149">, </span>
        <span class="frame-services-text150">
          home
          <span [innerHTML]="rawsdgd"></span>
        </span>
        <br />
        <span class="frame-services-text152">staging</span>
        <span class="frame-services-text153">
          , ce que vous aimez. Que ce soit pour une rénovation, un 
        </span>
        <br />
        <span class="frame-services-text155"></span>
        <span class="frame-services-text156">changement radical</span>
        <span class="frame-services-text157"> ou une </span>
        <span class="frame-services-text158">remise à neuf</span>
        <span class="frame-services-text159">
          , je vous accompagne
          <span [innerHTML]="rawn5k9"></span>
        </span>
        <br />
        <span class="frame-services-text161">
          de la conception à la réalisation de votre projet.
        </span>
        <br />
        <span class="frame-services-text163"></span>
        <br />
        <span class="frame-services-text165">
          Il n&apos;y a pas de plus grande joie que de se sentir bien chez soi.
        </span>
        <br />
        <span class="frame-services-text167"></span>
        <br />
        <span class="frame-services-text169">
          Notre équipe apporte une touche d&apos;originalité à votre intérieur.
          <span [innerHTML]="raw8g0u"></span>
        </span>
        <br />
        <span class="frame-services-text171"></span>
        <br />
        <span class="frame-services-text173">
          Toutes nos réalisations sont
          <span [innerHTML]="rawtf93"></span>
        </span>
        <span class="frame-services-text174">entièrement personnalisées</span>
        <span>
          .
          <span [innerHTML]="raw92p3"></span>
        </span>
        <br />
        <span></span>
        <br />
        <span>
          Nous intervenons rapidement dans le sud et le sud-ouest de Paris.
        </span>
      </span>
      <span class="frame-services-text180">
        <span>
          Un travail d&apos;une qualité de haut niveau pour
          <span [innerHTML]="raw3lct"></span>
        </span>
        <br />
        <span>embellir votre habitation</span>
      </span>
    </div>
    <div class="frame-services-header">
      <span class="frame-services-text184"><span>Contact</span></span>
      <span class="frame-services-text186"><span>Actualités</span></span>
      <span class="frame-services-text188"><span>Portfolio</span></span>
      <span class="frame-services-text190"><span>Tableaux</span></span>
      <span class="frame-services-text192">
        <span>Rénovation intérieure</span>
      </span>
      <span class="frame-services-text194"><span>Nos services</span></span>
      <span class="frame-services-text196"><span>Accueil</span></span>
      <img
        src="/assets/external/logo3199-yhmq-200w.png"
        alt="logo3199"
        class="frame-services-logo"
      />
    </div>
  </div>
</div>
