:host { 
  display: contents; 
}
.frame-contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame-contact-frame-contact {
  width: 1920px;
  height: 3310px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.frame-contact-background {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 2689px;
  position: absolute;
}
.frame-contact-footer {
  top: 2689px;
  left: 0px;
  width: 1920px;
  height: 621px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(45, 132, 175, 1);
}
.frame-contact-footerbottom {
  top: 462px;
  left: 90px;
  width: 1697px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text {
  top: 46px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-iconinstagram {
  top: 42px;
  left: 1656px;
  width: 41px;
  height: 39px;
  position: absolute;
}
.frame-contact-footerseparator {
  top: 0px;
  left: 0px;
  width: 1697px;
  height: 3px;
  position: absolute;
}
.frame-contact-footercol4 {
  top: 78px;
  left: 1379px;
  width: 408px;
  height: 340px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-footercol4webmap {
  top: 98px;
  left: 0px;
  width: 408px;
  height: 242px;
  position: absolute;
}
.frame-contact-footercol4text2 {
  top: 34px;
  left: 3px;
  width: 188px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-phoneicon {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 30px;
  position: absolute;
}
.frame-contact-text02 {
  top: 2px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-footercol4text1 {
  top: 0px;
  left: 0px;
  width: 331px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text04 {
  left: 44px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.frame-contact-mailicon {
  top: 1px;
  left: 0px;
  width: 31px;
  height: 23px;
  position: absolute;
}
.frame-contact-footercol3 {
  top: 78px;
  left: 1051px;
  width: 113px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text06 {
  top: 128px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text08 {
  top: 61px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-footercol2 {
  top: 78px;
  left: 670px;
  width: 155px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text12 {
  top: 128px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text14 {
  top: 63px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text16 {
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-footercol1 {
  top: 78px;
  left: 346px;
  width: 192px;
  height: 155px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text18 {
  top: 126px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text20 {
  top: 63px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-footerimage {
  top: 78px;
  left: 90px;
  width: 90px;
  height: 74px;
  position: absolute;
}
.frame-contact-section2 {
  top: 1817px;
  left: 587px;
  width: 745px;
  height: 761px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-contactform {
  top: 143px;
  left: 0px;
  width: 745px;
  height: 618px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.frame-contact-input {
  top: 247px;
  left: 37px;
  width: 669px;
  height: 267px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-messageformtextarea {
  top: 41px;
  left: 1px;
  width: 668px;
  height: 226px;
  position: absolute;
  border-color: rgba(173, 173, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.frame-contact-text24 {
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-input1 {
  top: 141px;
  left: 37px;
  width: 672px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-objetforminput {
  top: 37px;
  left: 4px;
  width: 668px;
  height: 51px;
  position: absolute;
  border-color: rgba(173, 173, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.frame-contact-text26 {
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-input2 {
  top: 20px;
  left: 394px;
  width: 315px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-prenomforminput {
  top: 37px;
  left: 0px;
  width: 315px;
  height: 51px;
  position: absolute;
  border-color: rgba(173, 173, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.frame-contact-text28 {
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-input3 {
  top: 25px;
  left: 37px;
  width: 319px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-nomforminput {
  top: 32px;
  left: 4px;
  width: 315px;
  height: 51px;
  position: absolute;
  border-color: rgba(173, 173, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.frame-contact-text30 {
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-button {
  gap: 20px;
  top: 532px;
  left: 41px;
  width: 149px;
  height: 59px;
  display: flex;
  padding: 18px 4px 18px 30px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(78, 163, 205, 1);
}
.frame-contact-text32 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-vector {
  width: 22px;
  height: 20px;
}
.frame-contact-line {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-contact-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-section2underline {
  top: 61px;
  left: 111px;
  width: 474px;
  height: 2px;
  position: absolute;
}
.frame-contact-text34 {
  left: 146px;
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-iconbanner {
  top: 1136px;
  left: 0px;
  width: 1920px;
  height: 579px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-webmap {
  top: 215px;
  left: 0px;
  width: 1920px;
  height: 364px;
  position: absolute;
}
.frame-contact-iconbannerbackground {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 215px;
  position: absolute;
}
.frame-contact-iconbanner3 {
  top: 57px;
  left: 1380px;
  width: 159px;
  height: 102px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-iconbanner3icon {
  top: 0px;
  left: 55px;
  width: 49px;
  height: 53px;
  position: absolute;
}
.frame-contact-text36 {
  top: 74px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-iconbanner2 {
  top: 66px;
  left: 781px;
  width: 313px;
  height: 87px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-iconbanner2icon {
  top: 0px;
  left: 122px;
  width: 70px;
  height: 44px;
  position: absolute;
}
.frame-contact-text38 {
  top: 59px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-iconbanner1 {
  top: 54px;
  left: 190px;
  width: 289px;
  height: 133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-iconbanner1icon {
  top: 0px;
  left: 123px;
  width: 43px;
  height: 55px;
  position: absolute;
}
.frame-contact-text40 {
  top: 77px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-section1 {
  top: 151px;
  left: 83px;
  width: 1577px;
  height: 869px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-section1textbloc3 {
  top: 722px;
  left: 1144px;
  width: 273px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text44 {
  top: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text50 {
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-section1textbloc2 {
  top: 491px;
  left: 1144px;
  width: 433px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text52 {
  top: 68px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text56 {
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-section1textbloc1 {
  top: 217px;
  left: 1144px;
  width: 421px;
  height: 175px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-section1textbloc1li2 {
  top: 94px;
  left: 0px;
  width: 122px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text58 {
  left: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-ellipse1 {
  top: 5px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame-contact-section1textbloc1li1 {
  top: 147px;
  left: 0px;
  width: 248px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-contact-text60 {
  left: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-ellipse11 {
  top: 5px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame-contact-text62 {
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-section1img {
  top: 217px;
  left: 0px;
  width: 894px;
  height: 448px;
  position: absolute;
}
.frame-contact-section1underline {
  top: 104px;
  left: 624px;
  width: 474px;
  height: 2px;
  position: absolute;
}
.frame-contact-text64 {
  left: 667px;
  color: rgba(45, 132, 175, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(45, 132, 175, 1);
}
.frame-contact-navbarbackground {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 64px;
  position: absolute;
}
.frame-contact-text66 {
  top: 26px;
  left: 1311px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text68 {
  top: 26px;
  left: 1195px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text70 {
  top: 26px;
  left: 977px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text72 {
  top: 26px;
  left: 1085px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text74 {
  top: 26px;
  left: 792px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text76 {
  top: 26px;
  left: 658px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-text78 {
  top: 26px;
  left: 559px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-contact-logo {
  top: 10px;
  left: 47px;
  width: 43px;
  height: 45px;
  position: absolute;
}
