<div class="frame-contact-container">
  <div class="frame-contact-frame-contact">
    <img
      src="/assets/external/background3360-kun-2000w.png"
      alt="background3360"
      class="frame-contact-background"
    />
    <div class="frame-contact-footer">
      <div class="frame-contact-footerbottom">
        <span class="frame-contact-text"><span>©Aleskia Zanin</span></span>
        <img
          src="/assets/external/iconinstagram6148-mt1.svg"
          alt="iconinstagram6148"
          class="frame-contact-iconinstagram"
        />
        <img
          src="/assets/external/footerseparator6149-88id-200h.png"
          alt="footerseparator6149"
          class="frame-contact-footerseparator"
        />
      </div>
      <div class="frame-contact-footercol4">
        <img
          src="/assets/external/footercol4webmap1610-1m64-300h.png"
          alt="footercol4webmap1610"
          class="frame-contact-footercol4webmap"
        />
        <div class="frame-contact-footercol4text2">
          <img
            src="/assets/external/phoneicon1610-kssq.svg"
            alt="phoneicon1610"
            class="frame-contact-phoneicon"
          />
          <span class="frame-contact-text02"><span>06 68 59 14 39</span></span>
        </div>
        <div class="frame-contact-footercol4text1">
          <span class="frame-contact-text04">
            <span>sisowath.laurence&#64;orange.fr</span>
          </span>
          <img
            src="/assets/external/mailicon1611-sojn.svg"
            alt="mailicon1611"
            class="frame-contact-mailicon"
          />
        </div>
      </div>
      <div class="frame-contact-footercol3">
        <span class="frame-contact-text06"><span>Actualités</span></span>
        <span class="frame-contact-text08"><span>Contact</span></span>
        <span class="frame-contact-text10"><span>A propos</span></span>
      </div>
      <div class="frame-contact-footercol2">
        <span class="frame-contact-text12"><span>Tableaux</span></span>
        <span class="frame-contact-text14"><span>Portfolio</span></span>
        <span class="frame-contact-text16"><span>Nos services</span></span>
      </div>
      <div class="frame-contact-footercol1">
        <span class="frame-contact-text18"><span>Mentions légales</span></span>
        <span class="frame-contact-text20"><span>RGPD</span></span>
        <span class="frame-contact-text22"><span>Cookies</span></span>
      </div>
      <img
        src="/assets/external/footerimage6170-uq4h-200h.png"
        alt="footerimage6170"
        class="frame-contact-footerimage"
      />
    </div>
    <div class="frame-contact-section2">
      <div class="frame-contact-contactform">
        <div class="frame-contact-input">
          <img
            src="/assets/external/messageformtextarea3368-jwya-300h.png"
            alt="messageformtextarea3368"
            class="frame-contact-messageformtextarea"
          />
          <span class="frame-contact-text24"><span>Message</span></span>
        </div>
        <div class="frame-contact-input1">
          <img
            src="/assets/external/objetforminput3364-0p2t-200h.png"
            alt="objetforminput3364"
            class="frame-contact-objetforminput"
          />
          <span class="frame-contact-text26"><span>Objet*</span></span>
        </div>
        <div class="frame-contact-input2">
          <img
            src="/assets/external/prenomforminput3365-z49l-200h.png"
            alt="prenomforminput3365"
            class="frame-contact-prenomforminput"
          />
          <span class="frame-contact-text28"><span>Prénom*</span></span>
        </div>
        <div class="frame-contact-input3">
          <img
            src="/assets/external/nomforminput3363-2wqu-200h.png"
            alt="nomforminput3363"
            class="frame-contact-nomforminput"
          />
          <span class="frame-contact-text30"><span>Nom*</span></span>
        </div>
        <button class="frame-contact-button">
          <span class="frame-contact-text32"><span>Envoyer</span></span>
          <img
            src="/assets/external/vector1676-lab.svg"
            alt="Vector1676"
            class="frame-contact-vector"
          />
          <div class="frame-contact-line">
            <div class="frame-contact-group"></div>
          </div>
        </button>
      </div>
      <img
        src="/assets/external/section2underline3374-g6bu-200h.png"
        alt="section2underline3374"
        class="frame-contact-section2underline"
      />
      <span class="frame-contact-text34">
        <span>Formulaire de contact</span>
      </span>
    </div>
    <div class="frame-contact-iconbanner">
      <img
        src="/assets/external/webmap3448-gf9s-400h.png"
        alt="webmap3448"
        class="frame-contact-webmap"
      />
      <img
        src="/assets/external/iconbannerbackground3451-f3y3-300h.png"
        alt="iconbannerbackground3451"
        class="frame-contact-iconbannerbackground"
      />
      <div class="frame-contact-iconbanner3">
        <img
          src="/assets/external/iconbanner3icon3456-cyab.svg"
          alt="iconbanner3icon3456"
          class="frame-contact-iconbanner3icon"
        />
        <span class="frame-contact-text36"><span>06 68 59 14 39</span></span>
      </div>
      <div class="frame-contact-iconbanner2">
        <img
          src="/assets/external/iconbanner2icon3453-3bf2.svg"
          alt="iconbanner2icon3453"
          class="frame-contact-iconbanner2icon"
        />
        <span class="frame-contact-text38">
          <span>sisowath.laurence&#64;orange.fr</span>
        </span>
      </div>
      <div class="frame-contact-iconbanner1">
        <img
          src="/assets/external/iconbanner1icon3459-4p2k.svg"
          alt="iconbanner1icon3459"
          class="frame-contact-iconbanner1icon"
        />
        <span class="frame-contact-text40">
          <span>
            1 bis Rue Gentil Bernard,
            <span [innerHTML]="rawj70a"></span>
          </span>
          <br />
          <span>92260 Fontenay-aux-Roses</span>
        </span>
      </div>
    </div>
    <div class="frame-contact-section1">
      <div class="frame-contact-section1textbloc3">
        <span class="frame-contact-text44">
          <span>Lundi - vendredi : 8h - 19h</span>
          <br />
          <span>Samedi : 9h - 17h</span>
          <br />
          <span>Dimanche : Fermé</span>
        </span>
        <span class="frame-contact-text50"><span>Horaires</span></span>
      </div>
      <div class="frame-contact-section1textbloc2">
        <span class="frame-contact-text52">
          <span>
            Nos peintres décorateurs professionnels interviennent à
            Fontenay-aux-Roses, au sud et au sud-ouest de Paris.
          </span>
          <br />
          <span></span>
        </span>
        <span class="frame-contact-text56">
          <span>Zone d’intervention</span>
        </span>
      </div>
      <div class="frame-contact-section1textbloc1">
        <div class="frame-contact-section1textbloc1li2">
          <span class="frame-contact-text58"><span>Chèques</span></span>
          <img
            src="/assets/external/ellipse13404-tkvgl-200h.png"
            alt="Ellipse13404"
            class="frame-contact-ellipse1"
          />
        </div>
        <div class="frame-contact-section1textbloc1li1">
          <span class="frame-contact-text60">
            <span>Virements bancaires</span>
          </span>
          <img
            src="/assets/external/ellipse13407-zl7-200h.png"
            alt="Ellipse13407"
            class="frame-contact-ellipse11"
          />
        </div>
        <span class="frame-contact-text62">
          <span>Nos moyens de paiement</span>
        </span>
      </div>
      <img
        src="/assets/external/section1img3416-gls8.svg"
        alt="section1img3416"
        class="frame-contact-section1img"
      />
      <img
        src="/assets/external/section1underline3398-8aee-200h.png"
        alt="section1underline3398"
        class="frame-contact-section1underline"
      />
      <span class="frame-contact-text64">
        <span>Contactez L&apos;atelier de Laurence</span>
      </span>
    </div>
    <div class="frame-contact-header">
      <img
        src="/assets/external/navbarbackground6135-gt7-200h.png"
        alt="navbarbackground6135"
        class="frame-contact-navbarbackground"
      />
      <span class="frame-contact-text66"><span>Contact</span></span>
      <span class="frame-contact-text68"><span>Actualités</span></span>
      <span class="frame-contact-text70"><span>Portfolio</span></span>
      <span class="frame-contact-text72"><span>Tableaux</span></span>
      <span class="frame-contact-text74">
        <span>Rénovation intérieure</span>
      </span>
      <span class="frame-contact-text76"><span>Nos services</span></span>
      <span class="frame-contact-text78"><span>Accueil</span></span>
      <img
        src="/assets/external/logo6143-1rq-200w.png"
        alt="logo6143"
        class="frame-contact-logo"
      />
    </div>
  </div>
</div>
