<div class="card-drawing-container">
  <div class="card-drawing-card-drawing">
    <img
      src="/assets/external/card2image2532-mkf9-600h.png"
      alt="card2image2532"
      class="card-drawing-card2image"
    />
    <img
      src="/assets/external/hover2532-06yq-600h.png"
      alt="hover2532"
      class="card-drawing-hover"
    />
    <span class="card-drawing-text">
      <span>40X30CM</span>
      <br />
      <span>
        Fond à l’huile
        <span [innerHTML]="rawxh1i"></span>
      </span>
      <br />
      <span>Peinture à l’huile d’argent</span>
    </span>
    <span class="card-drawing-text6"><span>Nom de l’image</span></span>
  </div>
</div>
