<div class="frame-tableaux-container">
  <div class="frame-tableaux-frame-tableaux">
    <img
      src="/assets/external/background6172-4t9-2000w.png"
      alt="background6172"
      class="frame-tableaux-background"
    />
    <div class="frame-tableaux-header">
      <span class="frame-tableaux-text"><span>Contact</span></span>
      <span class="frame-tableaux-text02"><span>Actualités</span></span>
      <span class="frame-tableaux-text04"><span>Portfolio</span></span>
      <span class="frame-tableaux-text06"><span>Tableaux</span></span>
      <span class="frame-tableaux-text08">
        <span>Rénovation intérieure</span>
      </span>
      <span class="frame-tableaux-text10"><span>Nos services</span></span>
      <span class="frame-tableaux-text12"><span>Accueil</span></span>
      <img
        src="/assets/external/logo632-iwv-200w.png"
        alt="logo632"
        class="frame-tableaux-logo"
      />
    </div>
    <div class="frame-tableaux-footer">
      <div class="frame-tableaux-footerbottom">
        <span class="frame-tableaux-text14"><span>©Aleskia Zanin</span></span>
        <img
          src="/assets/external/iconinstagram687-6kih.svg"
          alt="iconinstagram687"
          class="frame-tableaux-iconinstagram"
        />
        <img
          src="/assets/external/footerseparator688-zhp-200h.png"
          alt="footerseparator688"
          class="frame-tableaux-footerseparator"
        />
      </div>
      <div class="frame-tableaux-footercol3">
        <span class="frame-tableaux-text16"><span>Actualités</span></span>
        <span class="frame-tableaux-text18"><span>Contact</span></span>
        <span class="frame-tableaux-text20"><span>A propos</span></span>
      </div>
      <div class="frame-tableaux-footercol2">
        <span class="frame-tableaux-text22"><span>Tableaux</span></span>
        <span class="frame-tableaux-text24"><span>Portfolio</span></span>
        <span class="frame-tableaux-text26"><span>Nos services</span></span>
      </div>
      <div class="frame-tableaux-footercol1">
        <span class="frame-tableaux-text28"><span>Mentions légales</span></span>
        <span class="frame-tableaux-text30"><span>RGPD</span></span>
        <span class="frame-tableaux-text32"><span>Cookies</span></span>
      </div>
      <img
        src="/assets/external/footerimage6109-b669-200h.png"
        alt="footerimage6109"
        class="frame-tableaux-footerimage"
      />
      <div class="frame-tableaux-footercol4">
        <img
          src="/assets/external/footercol4webmap1611-6j7a-300h.png"
          alt="footercol4webmap1611"
          class="frame-tableaux-footercol4webmap"
        />
        <div class="frame-tableaux-footercol4text2">
          <img
            src="/assets/external/phoneicon1611-u22o.svg"
            alt="phoneicon1611"
            class="frame-tableaux-phoneicon"
          />
          <span class="frame-tableaux-text34"><span>06 68 59 14 39</span></span>
        </div>
        <div class="frame-tableaux-footercol4text1">
          <span class="frame-tableaux-text36">
            <span>sisowath.laurence&#64;orange.fr</span>
          </span>
          <img
            src="/assets/external/mailicon1611-jipe.svg"
            alt="mailicon1611"
            class="frame-tableaux-mailicon"
          />
        </div>
      </div>
    </div>
    <div class="frame-tableaux-section1">
      <div class="frame-tableaux-section1line3cards">
        <div class="frame-tableaux-card3">
          <img
            src="/assets/external/rectangle426125-raz-600h.png"
            alt="Rectangle426125"
            class="frame-tableaux-rectangle42"
          />
        </div>
        <div class="frame-tableaux-card2">
          <img
            src="/assets/external/card2image6127-3x5s-600h.png"
            alt="card2image6127"
            class="frame-tableaux-card2image"
          />
          <img
            src="/assets/external/hover6128-x7y-600h.png"
            alt="hover6128"
            class="frame-tableaux-hover"
          />
          <span class="frame-tableaux-text38">
            <span>40X30CM</span>
            <br />
            <span>
              Fond à l’huile
              <span [innerHTML]="rawh16u"></span>
            </span>
            <br />
            <span>Peinture à l’huile d’argent</span>
          </span>
          <span class="frame-tableaux-text44"><span>Nom de l’image</span></span>
        </div>
        <div class="frame-tableaux-card1">
          <img
            src="/assets/external/rectangle406132-jwsf-600h.png"
            alt="Rectangle406132"
            class="frame-tableaux-rectangle40"
          />
        </div>
      </div>
      <div class="frame-tableaux-section1line2cards">
        <div class="frame-tableaux-card31">
          <img
            src="/assets/external/rectangle426115-e8ab-600h.png"
            alt="Rectangle426115"
            class="frame-tableaux-rectangle421"
          />
        </div>
        <div class="frame-tableaux-card21">
          <img
            src="/assets/external/card2image6117-gnn1-600h.png"
            alt="card2image6117"
            class="frame-tableaux-card2image1"
          />
          <img
            src="/assets/external/hover6118-ubs-600h.png"
            alt="hover6118"
            class="frame-tableaux-hover1"
          />
          <span class="frame-tableaux-text46">
            <span>40X30CM</span>
            <br />
            <span>
              Fond à l’huile
              <span [innerHTML]="rawir4t"></span>
            </span>
            <br />
            <span>Peinture à l’huile d’argent</span>
          </span>
          <span class="frame-tableaux-text52"><span>Nom de l’image</span></span>
        </div>
        <div class="frame-tableaux-card11">
          <img
            src="/assets/external/rectangle406122-fzpp-600h.png"
            alt="Rectangle406122"
            class="frame-tableaux-rectangle401"
          />
        </div>
      </div>
      <div class="frame-tableaux-section1line1cards">
        <div class="frame-tableaux-card32">
          <img
            src="/assets/external/rectangle423338-rjjk-600h.png"
            alt="Rectangle423338"
            class="frame-tableaux-rectangle422"
          />
        </div>
        <div class="frame-tableaux-card22">
          <img
            src="/assets/external/card2image3342-sqip-600h.png"
            alt="card2image3342"
            class="frame-tableaux-card2image2"
          />
          <img
            src="/assets/external/hover3343-585-600h.png"
            alt="hover3343"
            class="frame-tableaux-hover2"
          />
          <span class="frame-tableaux-text54">
            <span>40X30CM</span>
            <br />
            <span>
              Fond à l’huile
              <span [innerHTML]="raw5eew"></span>
            </span>
            <br />
            <span>Peinture à l’huile d’argent</span>
          </span>
          <span class="frame-tableaux-text60"><span>Nom de l’image</span></span>
        </div>
        <div class="frame-tableaux-card12">
          <img
            src="/assets/external/rectangle403336-73ci-600h.png"
            alt="Rectangle403336"
            class="frame-tableaux-rectangle402"
          />
        </div>
      </div>
      <img
        src="/assets/external/section1underline3333-2szh-200h.png"
        alt="section1underline3333"
        class="frame-tableaux-section1underline"
      />
      <span class="frame-tableaux-text62">
        <span>Découvrez quelques-unes de nos réalisations en images</span>
      </span>
    </div>
  </div>
</div>
