<div class="form-container">
  <div class="form-form">
    <img
      src="/assets/external/contactbackground2529-e1k9-700h.png"
      alt="contactbackground2529"
      class="form-contactbackground"
    />
    <div class="form-input">
      <img
        src="/assets/external/messageformtextarea2529-87q5-300h.png"
        alt="messageformtextarea2529"
        class="form-messageformtextarea"
      />
      <span class="form-text"><span>Message</span></span>
    </div>
    <div class="form-input1">
      <img
        src="/assets/external/objetforminput2530-02k-200h.png"
        alt="objetforminput2530"
        class="form-objetforminput"
      />
      <span class="form-text02"><span>Objet*</span></span>
    </div>
    <div class="form-input2">
      <img
        src="/assets/external/prenomforminput2530-5uu-200h.png"
        alt="prenomforminput2530"
        class="form-prenomforminput"
      />
      <span class="form-text04"><span>Prénom*</span></span>
    </div>
    <div class="form-input3">
      <img
        src="/assets/external/nomforminput2530-e4wj-200h.png"
        alt="nomforminput2530"
        class="form-nomforminput"
      />
      <span class="form-text06"><span>Nom*</span></span>
    </div>
    <button class="form-button">
      <span class="form-text08"><span>Envoyer</span></span>
      <img
        src="/assets/external/vector2531-vosy.svg"
        alt="Vector2531"
        class="form-vector"
      />
      <div class="form-line"><div class="form-group"></div></div>
    </button>
  </div>
</div>
