<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <span class="block-text">Votre peintre pour vos travaux de rénovation d'appartement et maisons À Fontenay-aux-Roses</span>
            </div>
            <div class="row">
                <div class="block-img-1">
                    <img
                        src="/assets/external/section1img142-bw5r-500w.png"
                        alt="section1img142"
                        class="frame-accueil-sectionimg1 img-fluid"
                    />
                </div>
                <div class="block-img-2">
                    <img
                        src="/assets/external/section1img142-bw5r-500w.png"
                        alt="section1img142"
                        class="frame-accueil-sectionimg2 img-fluid"
                    />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row ml-0">
                <div class="block-img-3">
                    <img
                        src="/assets/external/section1img142-bw5r-500w.png"
                        alt="section1img142"
                        class="frame-accueil-sectionimg3 img-fluid"
                    />
                </div>
                <div class="block-img-4">
                    <img
                        src="/assets/external/section1img142-bw5r-500w.png"
                        alt="section1img142"
                        class="frame-accueil-sectionimg4 img-fluid"
                    />
                </div>
            </div>
            <div class="block-img-5">
            <img
                src="/assets/external/section1img144-42bf-900w.png"
                alt="section1img144"
                class="frame-accueil-sectionimg5 img-fluid"
            />
        </div>
    </div>
</div>